<h1>お問い合わせ一覧</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>送信日時</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.title %></td>
        <td><%= inquiry.category %></td>
        <td><%= inquiry.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= link_to '詳細', admin_inquiry_path(inquiry), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @inquiries %>
