<div class="page-background">
<div class="dashboard">
  <h1 class="dashboard-title">管理者トップ</h1>

    <div class="dashboard-link">
      <%= link_to '投稿管理', admin_posts_path, class: 'btn btn-primary' %>
    </div>
    <div class="dashboard-link">
      <%= link_to 'コメント管理', admin_comments_path, class: 'btn btn-primary' %>
    </div>
    <div class="dashboard-link">
      <%= link_to 'ユーザー管理', admin_users_path, class: 'btn btn-primary' %>
    </div>
    <div class="dashboard-link">
      <%= link_to 'コミュニティ管理', admin_communities_path, class: 'btn btn-primary' %>
    </div>
    <div class="dashboard-link">
      <%= link_to 'お問い合わせ内容確認', admin_inquiries_path, class: 'btn btn-primary' %>
    </div>

  <div class="admin-signout">
    <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, data: { confirm: "ログアウトしますか？", turbolinks: false }, class: 'btn btn-danger' %>
  </div>

</div>
