<div class="home-background">
  <div class="content">
    <h2 class="log">パスワードをお忘れですか？</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワードをリセットする", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
