<div class="post-item">
  <div class="post-user-info">
    <% if post.user.profile_image.attached? %>
      <%= link_to user_path(post.user.id) do %>
        <%= image_tag post.user.profile_image.variant(resize_to_fill: [30, 30]), class: 'user-icon' %>
      <% end %>
    <% else %>
      <%= link_to user_path(post.user.id) do %>
        <%= image_tag asset_path('no_image_photo.jpg'), size: "30x30", class: 'user-icon' %>
      <% end %>
    <% end %>
    <%= link_to post.user.display_name, user_path(post.user.id), class: 'post-username' %>
  </div>
  <h3 class="post-title"><%= link_to truncate(post.title, length: 20), post_path(post), class: 'post-title-link' %></h3>
  <p class="post-description"><%= truncate(post.description, length: 90) %></p>
  <% if post.image.attached? %>
    <p class="post-image">
      <%= link_to post_path(post) do %>
        <%= image_tag post.display_image([300, 300]), loading: 'lazy', class: 'post-img' %>
      <% end %>
    </p>
  <% else %>
    <p class="post-image">
      <%= link_to post_path(post) do %>
        <%= image_tag asset_path('no_image_photo3.jpg'), class: 'post-img' %>
      <% end %>
    </p>
  <% end %>
  <div class="post-footer">
    <p class="post-date">
      <%= post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %>
    </p>
    <p class="post-comments">
      <%= link_to "コメント(#{post.comments.count})", post_path(post, anchor: 'comments') %>
    </p>
  </div>
</div>
