<div class="page-background">
  <div class="communities-page">
    <h1 class="communities-title">管理者用: コミュニティ一覧</h1>

    <!-- 検索フォームの追加 -->
    <%= render 'shared/search_form', search_path: admin_communities_path %>

    <!-- コミュニティのリスト表示 -->
    <div class="communities-list">
      <% if @communities.any? %>
        <% @communities.each do |community| %>
          <div class="community-item">
            <div class="community-icon-container">
              <%= link_to admin_community_path(community.id) do %>
                <%= image_tag community.image.variant(resize_to_fill: [140, 140]), class: 'community-icon' %>
              <% end %>
            </div>
            <div class="community-info-container">
              <div class="community-meta">
                <span><%= link_to community.title, admin_community_path(community.id), class: 'community-name' %></span>
                <div class="community-details">
                  <span class="community-category">カテゴリ: <%= community.category %></span>
                  <br>
                  <span class="community-creator">
                    管理人:
                    <% if community.user.present? %>
                      <%= link_to community.user.display_name, admin_user_path(community.user), class: 'community-creator-link' %>
                    <% else %>
                      不明
                    <% end %>
                  </span>
                  <br>
                  <span class="community-members">参加人数: <%= community.users.count %> 人</span>
                  <br>
                  <span class="community-created-at">作成日: <%= community.created_at.strftime('%Y/%m/%d') %></span>
                </div>
              </div>
              <div class="community-description">
                <%= truncate(community.description, length: 280) %>
              </div>
            </div>
            <div class="admin-actions">
              <%= link_to '編集', edit_admin_community_path(community), class: 'btn btn-secondary' %>
              <%= link_to '削除', admin_community_path(community), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="no-communities">
          <p>コミュニティがありません。</p>
        </div>
      <% end %>
    </div>

    <!-- ページネーション -->
    <%= render 'shared/pagination', items: @communities %>
  </div>
</div>
