<!-- app/views/posts/commented_posts.html.erb -->
<div class="posts-page-background">
  <div class="posts-page">
    <h1 class="posts-title">コメントした投稿一覧</h1>

    <div class="posts-grid">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
        
          <div class="post-item">
            <div class="post-user-info">
              <% if post.user.profile_image.attached? %>
                <%= link_to user_path(post.user.id) do %>
                  <%= image_tag post.user.profile_image.variant(resize_to_fill: [30, 30]), class: 'user-icon' %>
                <% end %>
              <% else %>
                <%= link_to user_path(post.user.id) do %>
                  <%= image_tag 'no_image_photo.jpg', size: "30x30", class: 'user-icon' %>
                <% end %>
              <% end %>
              <%= link_to post.user.username, user_path(post.user.id), class: 'post-username' %>
            </div>

            <h3 class="post-title">
              <%= link_to truncate(post.title, length: 40), post_path(post), class: 'post-title-link' %>
            </h3>

            <p class="post-description">
              <%= truncate(post.description, length: 100) %>
            </p>

            <% if post.image.attached? %>
              <p class="post-image">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.display_image, class: 'post-img' %>
                <% end %>
              </p>
            <% else %>
              <p class="post-image">
                <%= link_to post_path(post) do %>
                  <%= image_tag 'no_image_photo2.jpg', class: 'post-img' %>
                <% end %>
              </p>
            <% end %>
            
            <p class="post-date">
              <%= post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%m月%d日 %H:%M") %>
            </p>

            <p class="post-comments">
              <%= link_to "コメント(#{post.comments.count})", post_path(post, anchor: 'comments') %>
            </p>
          </div>
        <% end %>
      <% else %>
        <div class="no-coment">
          <p class="no-posts">コメントした投稿がありません。</p>
        </div>
      <% end %>
    </div>

    <div class="pagination-empty">
      <%= paginate @posts, theme: 'bootstrap4', total_pages: (@posts.total_pages > 1 ? @posts.total_pages : 2), class: 'pagination' %>
    </div>
  </div>
</div>
