<div class="posts-page-background">
  <div class="posts-page">
    <h1 class="posts-title">投稿一覧</h1>

    <div class="posts-grid">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
        
          <div class="post-item">
            
            <div class="post-user-info">
              <% if post.user.profile_image.attached? %>
                <%= image_tag post.user.profile_image.variant(resize_to_fill: [30, 30]), class: 'user-icon' %>
              <% else %>
                <%= image_tag 'no_image_photo.jpg', size: "30x30", class: 'user-icon' %>
              <% end %>
              <%= link_to post.user.username, user_profile_path(post.user), class: 'post-username' %>
            </div>

            
            <h3 class="post-title"><%= link_to truncate(post.title, length: 40), post_path(post), class: 'post-title-link' %></h3>
              <% if post.title.length > 40 %>
                <%= link_to '続きを読む', post_path(post), class: 'post-link' %>
              <% end %>
            
            
            <p class="post-description">
              <%= truncate(post.description, length: 100) %>
              <% if post.description.length > 100 %>
                <%= link_to '続きを読む', post_path(post), class: 'post-link' %>
              <% end %>
            </p>

            
            <p class="post-date"><%= post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%m月%d日 %H:%M") %></p>
            <% if post.image.attached? %>
              <p class="post-image"><%= image_tag post.display_image, class: 'post-img' %></p>
            <% else %>
              <p class="post-image"><%= image_tag 'no_image_photo1.jpg', class: 'post-img' %></p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="no-posts">まだ投稿はありません。</p>
      <% end %>
    </div>

    <%= paginate @posts, theme: 'bootstrap4' %>
  </div>
</div>
