<div class="page-background">
  <div class="posts-page">
    <h1 class="posts-title">投稿一覧</h1>
    
    <!-- 検索フォームの追加 -->
    <div class="search-form">
      <%= form_with url: posts_path, method: :get, local: true, html: { class: 'search-form-with-icon' } do |form| %>
        <div class="search-input-container">
          <%= form.text_field :search, placeholder: "投稿を検索", class: "form-control search-input" %>
          <button type="submit" class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i> <!-- Font Awesome の虫眼鏡アイコン -->
          </button>
        </div>
      <% end %>
    </div>
    
    <div class="new-post-link">
      <%= link_to '新規投稿', new_post_path, class: 'btn btn-primary' %>
    </div>

    <div class="posts-grid">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
        
          <div class="post-item">
            
            <div class="post-user-info">
              <% if post.user.profile_image.attached? %>
                <%= link_to user_path(post.user.id) do %>
                  <%= image_tag post.user.profile_image.variant(resize_to_fill: [30, 30]), class: 'user-icon' %>
                <% end %>
              <% else %>
                <%= link_to user_path(post.user.id) do %>
                  <%= image_tag 'no_image_photo.jpg', size: "30x30", class: 'user-icon' %>
                <% end %>
              <% end %>
              <%= link_to post.user.username, user_path(post.user.id), class: 'post-username' %>
            </div>
            
            <h3 class="post-title"><%= link_to truncate(post.title, length: 20), post_path(post), class: 'post-title-link' %></h3>
              <!--<% if post.title.length > 20 %>-->
                <!--<%= link_to '続きを読む', post_path(post), class: 'post-link' %>-->
              <!--<% end %>-->
            
            <p class="post-description">
              <%= truncate(post.description, length: 90) %>
              <!--<% if post.description.length > 90 %>-->
                <!--<%= link_to '続きを読む', post_path(post), class: 'post-link' %>-->
              <!--<% end %>-->
            </p>

            <% if post.image.attached? %>
              <p class="post-image">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.display_image([300, 300]), loading: 'lazy', class: 'post-img' %>
                <% end %>
              </p>
            <% else %>
              <p class="post-image">
                <%= link_to post_path(post) do %>
                  <%= image_tag 'no_image_photo3.jpg', class: 'post-img' %>
                <% end %>
              </p>
            <% end %>
            
            <div class="post-footer">
              <p class="post-date">
                <%= post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %>
              </p>
              <p class="post-comments">
                <%= link_to "コメント(#{post.comments.count})", post_path(post, anchor: 'comments') %>
              </p>
            </div>
            
          </div>
        <% end %>
      <% else %>
        <div class="no-comment">
          <p class="no-posts">投稿がありません。</p>
        </div>
      <% end %>
    </div>
    
    <div class="pagination-empty">
      <%= paginate @posts, theme: 'bootstrap4', total_pages: (@posts.total_pages > 1 ? @posts.total_pages : 2), class: 'pagination' %>
    </div>
  </div>
</div>
