<div class="post-detail-background">
  <div class="post-detail">
    
    <!-- ユーザー情報の表示部分 -->
    <div class="post-user-info">
      <% if @post.user.profile_image.attached? %>
        <%= image_tag @post.user.profile_image.variant(resize_to_fill: [40, 40]), class: "user-icon" %>
      <% else %>
        <%= image_tag 'no_image_photo.jpg', size: "40x40", class: "user-icon" %>
      <% end %>
      <%= link_to @post.user.username, user_profile_path(@post.user), class: 'post-username' %>
    </div>

    <h1 class="post-detail-title"><%= @post.title %></h1>
    <p class="post-detail-description"><%= @post.description %></p>

    <% if @post.image.attached? %>
      <p class="post-image"><%= image_tag @post.display_image, class: "img-fluid" %>
    <% else %>
      <p class="post-image"><%= image_tag 'no_image_photo1.jpg', class: 'post-img' %></p>
    <% end %>

    <p class="post-detail-date"><%= l(@post.created_at, format: :long, locale: :ja) %></p>

    <% if @post.user == current_user %>
      <div class="post-actions">
        <%= link_to '編集する', edit_post_path(@post), class: 'btn btn-primary edit-post-btn' %>
        <%= link_to '投稿を削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger delete-post-btn' %>
      </div>
    <% end %>
  </div>
</div>
