<p id="notice" class="alert alert-info"><%= notice %></p>

<h1><%= @post.title %></h1>
<p><%= @post.description %></p>

<% if @post.image.attached? %>
  <%= image_tag @post.display_image, alt: "投稿画像", class: "img-fluid" %>
<% else %>
  <p>画像はありません。</p>
<% end %>

<p>投稿者: <%= @post.user.username %></p>
<p>投稿日時: <%= l(@post.created_at, format: :long, locale: :ja) %></p>

<% if @post.user == current_user %>
  <%= link_to '編集する', edit_post_path(@post), class: 'btn btn-primary' %>
  <%= link_to '投稿を削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
<% end %>

<%= link_to 'トップページへ', top_path, class: 'btn btn-secondary' %>
