<div class="page-background">
  <div class="users-page">
    <h1 class="users-title">管理者用: ユーザーー覧</h1>

    <!-- 検索フォームの追加 -->
    <%= render 'shared/search_form', search_path: admin_users_path %>

    <!-- ユーザーのリスト表示 -->
    <div class="users-list">
      <% if @users.any? %>
        <% @users.each do |user| %>
          <div class="user-item">
            <div class="user-icon-container">
              <% if user.profile_image.attached? %>
                <%= link_to admin_user_path(user.id) do %>
                  <%= image_tag user.profile_image.variant(resize_to_fill: [100, 100]), class: 'user-icon' %>
                <% end %>
              <% else %>
                <%= link_to admin_user_path(user.id) do %>
                  <%= image_tag 'no_image_photo.jpg', size: "100x100", class: 'user-icon' %>
                <% end %>
              <% end %>
            </div>

            <div class="user-info-container">
              <div class="user-meta">
                <span><%= link_to user.display_name, admin_user_path(user.id), class: 'user-name' %></span>
                <div class="user-details">
                  <span class="user-gender">性別: <%= user.gender %></span>
                  <span class="user-age">年齢: <%= user.age %></span>
                </div>
              </div>
              <div class="user-bio">
                <%= truncate(user.bio, length: 280) %>
              </div>
              <div class="admin-actions">
                <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-secondary' %>
                <%= link_to '退会', confirm_deactivation_admin_user_path(user), data: { confirm: 'まだ退会処理できません。最終確認画面に移行します。' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="no-comment">
          <p class="no-posts">ユーザーがいません。</p>
        </div>
      <% end %>
    </div>

    <!-- ページネーション -->
    <%= render 'shared/pagination', items: @users %>
  </div>
</div>
