<div class="page-background">
  <div class="communities-page">
    <h1 class="communities-title">コミュニティ一覧</h1>

    <!-- 検索フォームの追加 -->
    <div class="search-form">
      <%= form_with url: communities_path, method: :get, local: true, html: { class: 'search-form-with-icon' } do |form| %>
        <div class="search-input-container">
          <%= form.text_field :search, placeholder: "コミュニティを検索", class: "form-control search-input" %>
          <button type="submit" class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i> <!-- Font Awesome の虫眼鏡アイコン -->
          </button>
        </div>
      <% end %>
    </div>
    
    <div class="new_community_link">
      <%= link_to 'コミュニティを作成', new_community_path, class: 'btn btn-primary' %>
    </div>
    
    <!-- コミュニティのリスト表示 -->
    <div class="communities-list">
      <% if @communities.any? %>
        <% @communities.each do |community| %>
          <div class="community-item">
            <div class="community-icon-container">
              <%= link_to community_path(community.id) do %>
                <%= image_tag community.image.variant(resize_to_fill: [140, 140]), class: 'community-icon' %>
              <% end %>
            </div>
            <div class="community-info-container">
              <div class="community-meta">
                <span><%= link_to community.title, community_path(community.id), class: 'community-name' %></span>
                <div class="community-details">
                  <span class="community-category">カテゴリ: <%= community.category %></span>
                  <br>
                  <span class="community-creator">
                    管理人:
                    <% if community.user.present? %>
                      <%= link_to community.user.username, user_path(community.user), class: 'community-creator-link' %>
                    <% else %>
                      不明
                    <% end %>
                  </span>
                  <br>
                  <span class="community-members">参加人数: <%= community.users.count %> 人</span>
                  <br>
                  <span class="community-created-at">作成日: <%= community.created_at.strftime('%Y/%m/%d') %></span>
                </div>
              </div>
              <div class="community-description">
                <%= truncate(community.description, length: 280) %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="no-comment">
          <p class="no-posts">コミュニティがありません。</p>
        </div>
      <% end %>
    </div>

    <!-- ページネーション -->
    <div class="pagination-empty">
      <%= paginate @communities, theme: 'bootstrap4', total_pages: (@communities.total_pages > 1 ? @communities.total_pages : 2),  class: 'pagination' %>
    </div>
  </div>
</div>
