<div class="page-background">
  <div class="community-detail">
    <div class="community-header">
      <!-- コミュニティの画像とタイトル・カテゴリ・管理人・メンバー情報を横並びに表示 -->
      <div class="community-image-title-info">
        <!-- コミュニティの画像 -->
        <div class="community-image">
          <% if @community.image.attached? %>
            <%= image_tag @community.image.variant(resize_to_fill: [180, 180]), class: 'community-icon' %>
          <% else %>
            <%= image_tag 'default_community.jpg', class: 'community-icon' %> <!-- 画像がない場合のデフォルト画像 -->
          <% end %>
        </div>

        <!-- コミュニティの詳細情報 -->
        <div class="community-details-section">
          <div class="community-title">
            <h1><%= @community.title %></h1>
          </div>
          <div class="community-info">
            <p><strong>カテゴリ:</strong> <%= @community.category %></p>
            <p><strong>管理人:</strong>
              <% if @community.user.present? %>
                <%= link_to @community.user.username, user_path(@community.user), class: 'community-admin' %>
              <% else %>
                <span>不明</span>
              <% end %>
            </p>
            <p><strong>参加メンバー:</strong> <%= @community.users.count %>人</p>
            <p><strong>開設日:</strong> <%= @community.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      </div>
    </div>

    <!-- コミュニティ参加ボタンと編集ボタン -->
    <div class="community-details-btn">
      <div class="community-actions">
        <%= link_to 'コミュニティ一覧', communities_path, class: 'btn btn-primary' %>
        <% if current_user == @community.user %>
          <!-- コミュニティ作成者には「参加する」リンクを表示しない -->
          <%= link_to 'コミュニティを編集', edit_community_path(@community), class: 'btn btn-secondary' %>
          <%= link_to 'コミュニティを削除', community_path(@community), method: :delete, data: { confirm: '本当にこのコミュニティを削除しますか？コミュニティ内の投稿もすべて削除されます' }, class: 'btn btn-danger' %>
        <% elsif current_user && current_user.joined_community?(@community) %>
          <%= link_to 'コミュニティから退会する', leave_community_path(@community), data: { confirm: '本当にコミュニティから退会しますか？' }, class: 'btn btn-danger', method: :delete %>
        <% else %>
          <%= link_to 'コミュニティに参加する', join_community_path(@community), data: { confirm: '本当にコミュニティに参加しますか？' }, class: 'btn btn-primary', method: :post %>
        <% end %>
      </div>
    </div>

    <!-- コミュニティの説明 -->
    <div class="community-detail-description">
      <p><%= @community.description %></p>
    </div>

    <!-- 投稿一覧 -->
    <div class="community-detail-posts">
      <div class="community-detail-post">
        <h2>コミュニティ投稿一覧</h2>

        <!-- 検索フォームの追加 -->
        <div class="search-form">
          <%= form_with url: community_path(@community), method: :get, local: true, html: { class: 'search-form-with-icon' } do |form| %>
            <div class="search-input-container">
              <%= form.text_field :search, placeholder: "投稿を検索", class: "form-control search-input" %>
              <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i> <!-- Font Awesome の虫眼鏡アイコン -->
              </button>
            </div>
          <% end %>
        </div>

        <!-- エラーメッセージの表示 -->
        <%= render 'shared/error_messages', resource: @post %>

        <div class="new-post-link">
          <%= link_to '新規投稿', new_community_post_path(@community), class: 'btn btn-primary' %>
        </div>

        <div class="community-post">
          <% if @paginated_posts.any? %>
            <% @paginated_posts.each do |post| %>
              <div class="post-item">
                <div class="post-detail-header">
                  <!-- ユーザー情報の表示部分 -->
                  <div class="left-section">
                    <% if post.user.profile_image.attached? %>
                      <%= image_tag post.user.profile_image.variant(resize_to_fill: [40, 40]), class: "post-user-icon" %>
                    <% else %>
                      <%= image_tag 'no_image_photo.jpg', size: "40x40", class: "post-user-icon" %>
                    <% end %>
                    <%= link_to post.user.username, user_path(post.user.id), class: 'post-detail-username' %>
                  </div>

                  <!-- 3点リーダー -->
                  <div class="dropdown right-section">
                    <div class="dropdown-toggle" data-post-id="<%= post.id %>">
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu-<%= post.id %>">
                      <% if post.user == current_user %>
                        <%= link_to '投稿を削除する', post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'dropdown-item delete-post-btn' %>
                      <% else %>
                        <p class="dropdown-item no-actions">可能な操作はありません</p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- 投稿の説明文を表示 -->
                <p class="post-detail-description"><%= post.description %></p>
                <!-- 投稿画像があれば表示 -->
                <% if post.image.attached? %>
                  <p class="community-post-image">
                    <%= image_tag post.display_image([400, 400]), loading: 'lazy', class: 'post-image' %>
                  </p>
                <% end %>
                <!-- 投稿日時 -->
                <p class="community-post-detail-date">
                  <%= post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %>
                </p>
              </div>
            <% end %>
          <% else %>
            <p class="no-post">投稿がありません。</p>
          <% end %>
        </div>

        <div class="pagination-empty">
          <%= paginate @paginated_posts, theme: 'bootstrap4', total_pages: (@paginated_posts.total_pages > 1 ? @paginated_posts.total_pages : 2), class: 'pagination' %>
        </div>

      </div>
    </div>

  </div>
</div>
