<!DOCTYPE html>
<html>
  <head>
    <title>CommunityPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
        <nav>
          <div class="navbar-title">
            <%= link_to 'GOLVAVI', root_path %>
          </div>
          <ul>
            <li><%= link_to 'GOLNAVIとは', about_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Top', top_path %></li> <!-- ログイン後に表示 -->
              <li><%= link_to 'Profile', user_profile_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Log in', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
