<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('site_title', default: 'GOLNAVI') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/854bb4e028.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav aria-label="Main navigation">
        <div class="navbar-title">
          <%= link_to t('site_name', default: 'GOLVAVI'), root_path %>
        </div>
        <ul role="menu">
          <li role="menuitem"><%= link_to t('about', default: 'GOLNAVIとは'), about_path, class: ('active' if current_page?(about_path)) %></li>
          <% if user_signed_in? %>
            <li role="menuitem"><%= link_to t('top', default: 'トップ'), top_path, class: ('active' if current_page?(top_path)) %></li>
            <li role="menuitem"><%= link_to '投稿一覧', posts_path, class: ('active' if current_page?(posts_path)) %></li>
            <li role="menuitem"><%= link_to t('profile', default: 'プロフィール'), user_path(current_user), class: ('active' if current_page?(user_path(current_user))) %></li>
            <li role="menuitem"><%= link_to t('log_out', default: 'ログアウト'), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li role="menuitem"><%= link_to t('sign_up', default: '新規登録'), new_user_registration_path, class: ('active' if current_page?(new_user_registration_path)) %></li>
            <li role="menuitem"><%= link_to t('log_in', default: 'ログイン'), new_user_session_path, class: ('active' if current_page?(new_user_session_path)) %></li>
          <% end %>
        </ul>
      </nav>
    </header>


    <main class="container">
      <%= yield %>
    </main>

    <footer class="footer">
      <p>&copy; GOLNAVI</p>
      <nav aria-label="Footer navigation">
        <ul role="menu">
          <!--<li role="menuitem"><%= link_to t('privacy_policy', default: 'プライバシーポリシー'), privacy_policy_path %></li>|-->
          <!--<li role="menuitem"><%= link_to t('terms_of_service', default: '利用規約'), terms_of_service_path %></li>|-->
          <li role="menuitem"><%= link_to t('contact', default: 'お問い合わせ'), contact_path, class: ('active' if current_page?(contact_path)) %></li>
        </ul>
      </nav>
    </footer>

    <style>
      /* レスポンシブデザイン強化 */
      @media (max-width: 768px) {
        .header, .footer {
          padding: 10px;
        }
        .navbar-title a {
          font-size: 18px;
        }
        nav ul {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    </style>
  </body>
</html>
